@import './variables.scss';

.pt-text-muted {
  color: #5c7080
}

.pt-dark .pt-text-muted {
  color: #bfccd6
}

.pt-control-group {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch
}

.pt-control-group>* {
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}

.pt-control-group>.pt-fill {
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1
}

.pt-control-group .pt-button,.pt-control-group .pt-input,.pt-control-group .pt-select {
  position: relative
}

.pt-control-group .pt-input {
  z-index: 2;
  border-radius: inherit
}

.pt-control-group .pt-input:focus {
  z-index: 14;
  border-radius: 3px
}

.pt-control-group .pt-input[class*=pt-intent] {
  z-index: 13
}

.pt-control-group .pt-input[class*=pt-intent]:focus {
  z-index: 15
}

.pt-control-group .pt-input.pt-disabled,.pt-control-group .pt-input:disabled,.pt-control-group .pt-input[readonly] {
  z-index: 1
}

.pt-control-group .pt-input-group[class*=pt-intent] .pt-input {
  z-index: 13
}

.pt-control-group .pt-input-group[class*=pt-intent] .pt-input:focus {
  z-index: 15
}

.pt-control-group .pt-button,.pt-control-group .pt-select select {
  z-index: 4;
  border-radius: inherit
}

.pt-control-group .pt-button:focus,.pt-control-group .pt-select select:focus {
  position: relative;
  z-index: 5
}

.pt-control-group .pt-button:hover,.pt-control-group .pt-select select:hover {
  z-index: 6
}

.pt-control-group .pt-button:active,.pt-control-group .pt-select select:active {
  z-index: 7
}

.pt-control-group .pt-button.pt-disabled,.pt-control-group .pt-button:disabled,.pt-control-group .pt-button[readonly],.pt-control-group .pt-select select.pt-disabled,.pt-control-group .pt-select select:disabled,.pt-control-group .pt-select select[readonly] {
  z-index: 3
}

.pt-control-group .pt-button[class*=pt-intent],.pt-control-group .pt-select select[class*=pt-intent] {
  z-index: 9
}

.pt-control-group .pt-button[class*=pt-intent]:focus,.pt-control-group .pt-select select[class*=pt-intent]:focus {
  z-index: 10
}

.pt-control-group .pt-button[class*=pt-intent]:hover,.pt-control-group .pt-select select[class*=pt-intent]:hover {
  z-index: 11
}

.pt-control-group .pt-button[class*=pt-intent]:active,.pt-control-group .pt-select select[class*=pt-intent]:active {
  z-index: 12
}

.pt-control-group .pt-button[class*=pt-intent].pt-disabled,.pt-control-group .pt-button[class*=pt-intent]:disabled,.pt-control-group .pt-button[class*=pt-intent][readonly],.pt-control-group .pt-select select[class*=pt-intent].pt-disabled,.pt-control-group .pt-select select[class*=pt-intent]:disabled,.pt-control-group .pt-select select[class*=pt-intent][readonly] {
  z-index: 8
}

.pt-control-group .pt-input-group>.pt-button,.pt-control-group .pt-input-group>.pt-icon,.pt-control-group .pt-input-group>.pt-input-action {
  z-index: 16
}

.pt-control-group .pt-select:after {
  z-index: 17
}

.pt-control-group:not(.pt-vertical)>* {
  margin-right: -1px
}

.pt-dark .pt-control-group:not(.pt-vertical)>* {
  margin-right: 0
}

.pt-dark .pt-control-group:not(.pt-vertical)>.pt-button+.pt-button {
  margin-left: 1px
}

.pt-control-group>:first-child {
  border-radius: 3px 0 0 3px
}

.pt-control-group>:last-child {
  margin-right: 0;
  border-radius: 0 3px 3px 0
}

.pt-control-group .pt-input-group .pt-button {
  border-radius: 3px
}

.pt-control-group.pt-fill>:not(.pt-fixed),.pt-control-group>.pt-fill {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto
}

.pt-control-group.pt-vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}

.pt-control-group.pt-vertical>* {
  margin-top: -1px
}

.pt-control-group.pt-vertical>:first-child {
  margin-top: 0;
  border-radius: 3px 3px 0 0
}

.pt-control-group.pt-vertical>:last-child {
  border-radius: 0 0 3px 3px
}

.pt-control {
  display: block;
  position: relative;
  margin-bottom: 10px;
  cursor: pointer;
  min-height: 16px;
  padding-left: 26px;
  text-transform: none;
  line-height: 16px
}

.pt-control.pt-disabled {
  cursor: not-allowed;
  color: rgba(92,112,128,.5)
}

.pt-control.pt-inline {
  display: inline-block;
  margin-right: 20px
}

.pt-control input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -1
}

.pt-control .pt-control-indicator {
  line-height: 1;
  font-family: iconmonstr-iconic-font,sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  border: none;
  -webkit-box-shadow: inset 0 0 0 1px rgba(16,22,26,.2),inset 0 -1px 0 rgba(16,22,26,.1);
  box-shadow: inset 0 0 0 1px rgba(16,22,26,.2),inset 0 -1px 0 rgba(16,22,26,.1);
  background-clip: padding-box;
  background-color: #f5f8fa;
  background-image: -webkit-gradient(linear,left top,left bottom,from(hsla(0,0%,100%,.8)),to(hsla(0,0%,100%,0)));
  background-image: linear-gradient(180deg,hsla(0,0%,100%,.8),hsla(0,0%,100%,0));
  cursor: pointer;
  width: 16px;
  height: 16px;
  line-height: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.pt-control.pt-checkbox input:indeterminate~.pt-control-indicator,.pt-control input:checked~.pt-control-indicator {
  -webkit-box-shadow: inset 0 0 0 1px rgba(16,22,26,.4),inset 0 -1px 0 rgba(16,22,26,.2);
  box-shadow: inset 0 0 0 1px rgba(16,22,26,.4),inset 0 -1px 0 rgba(16,22,26,.2);
  background-color: $primary-color;
  background-image: -webkit-gradient(linear,left top,left bottom,from(hsla(0,0%,100%,.1)),to(hsla(0,0%,100%,0)));
  background-image: linear-gradient(180deg,hsla(0,0%,100%,.1),hsla(0,0%,100%,0));
  color: #fff
}

.pt-control:hover .pt-control-indicator {
  background-color: #ebf1f5
}

.pt-control.pt-checkbox .pt-control:hover input:indeterminate~.pt-control-indicator,.pt-control.pt-checkbox:hover input:indeterminate~.pt-control-indicator,.pt-control:hover .pt-control.pt-checkbox input:indeterminate~.pt-control-indicator,.pt-control:hover input:checked~.pt-control-indicator {
  -webkit-box-shadow: inset 0 0 0 1px rgba(16,22,26,.4),inset 0 -1px 0 rgba(16,22,26,.2);
  box-shadow: inset 0 0 0 1px rgba(16,22,26,.4),inset 0 -1px 0 rgba(16,22,26,.2);
  background-color: $primary-hover-color
}

.pt-control input:not(:disabled):active~.pt-control-indicator {
  -webkit-box-shadow: inset 0 0 0 1px rgba(16,22,26,.2),inset 0 1px 2px rgba(16,22,26,.2);
  box-shadow: inset 0 0 0 1px rgba(16,22,26,.2),inset 0 1px 2px rgba(16,22,26,.2);
  background: #d8e1e8
}

.pt-control.pt-checkbox input:not(:disabled):active:indeterminate~.pt-control-indicator,.pt-control input:not(:disabled):active:checked~.pt-control-indicator {
  -webkit-box-shadow: inset 0 0 0 1px rgba(16,22,26,.4),inset 0 1px 2px rgba(16,22,26,.2);
  box-shadow: inset 0 0 0 1px rgba(16,22,26,.4),inset 0 1px 2px rgba(16,22,26,.2);
  background: $primary-active-color
}

.pt-control input:disabled~.pt-control-indicator {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: rgba(206,217,224,.5);
  cursor: not-allowed
}

.pt-control.pt-checkbox input:disabled:indeterminate~.pt-control-indicator,.pt-control input:disabled:checked~.pt-control-indicator {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: rgba(19,124,189,.5)
}

.pt-control.pt-checkbox .pt-control-indicator {
  border-radius: 3px;
  font-size: 16px
}

.pt-control.pt-checkbox input:checked~.pt-control-indicator:empty:before,.pt-control.pt-checkbox input:indeterminate~.pt-control-indicator:empty:before {
  content: "\e023";
  font-size: 11px;
  padding: 3px 3px;
  margin: -2px 0 0 0;
  display: block;
}

.pt-control.pt-checkbox input:indeterminate~.pt-control-indicator:empty:before {
  content: "\e073";
  font-size: 11px;
  padding: 3px 3px;
  margin: -2px 0 0 0;
  display: block;
}

.pt-control.pt-radio .pt-control-indicator {
  border-radius: 50%;
  font-size: 6px
}

.pt-control.pt-checkbox .pt-control.pt-radio input:indeterminate~.pt-control-indicator:before,.pt-control.pt-radio .pt-control.pt-checkbox input:indeterminate~.pt-control-indicator:before,.pt-control.pt-radio input:checked~.pt-control-indicator:before {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  border-radius: 50%;
  background: #fff;
  width: 1em;
  height: 1em;
  content: ""
}

.pt-control.pt-checkbox .pt-control.pt-radio input:disabled:indeterminate~.pt-control-indicator:before,.pt-control.pt-radio .pt-control.pt-checkbox input:disabled:indeterminate~.pt-control-indicator:before,.pt-control.pt-radio input:checked:disabled~.pt-control-indicator:before {
  -webkit-box-shadow: none;
  box-shadow: none
}

.pt-control.pt-radio input:focus~.pt-control-indicator {
  -moz-outline-radius: 16px
}

.pt-control.pt-switch {
  padding-left: 38px
}

.pt-control.pt-switch .pt-control-indicator {
  border: none;
  border-radius: 28px;
  -webkit-box-shadow: none;
  box-shadow: none;
  background: rgba(167,182,194,.5);
  width: 28px;
  height: 16px;
  -webkit-transition: background .1s cubic-bezier(.4,1,.75,.9);
  transition: background .1s cubic-bezier(.4,1,.75,.9)
}

.pt-control.pt-switch .pt-control-indicator:before {
  display: block;
  position: relative;
  top: 2px;
  left: 2px;
  border-radius: 16px;
  -webkit-box-shadow: 0 0 0 1px rgba(16,22,26,.2),0 1px 1px rgba(16,22,26,.2);
  box-shadow: 0 0 0 1px rgba(16,22,26,.2),0 1px 1px rgba(16,22,26,.2);
  background: #fff;
  background-clip: padding-box;
  width: 12px;
  height: 12px;
  content: "";
  -webkit-transition: left .1s cubic-bezier(.4,1,.75,.9);
  transition: left .1s cubic-bezier(.4,1,.75,.9)
}

.pt-control.pt-checkbox .pt-control.pt-switch input:indeterminate~.pt-control-indicator,.pt-control.pt-switch .pt-control.pt-checkbox input:indeterminate~.pt-control-indicator,.pt-control.pt-switch input:checked~.pt-control-indicator {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: $primary-color;
  width: 28px;
  height: 16px
}

.pt-control.pt-checkbox .pt-control.pt-switch input:indeterminate~.pt-control-indicator:before,.pt-control.pt-switch .pt-control.pt-checkbox input:indeterminate~.pt-control-indicator:before,.pt-control.pt-switch input:checked~.pt-control-indicator:before {
  left: 14px;
  -webkit-box-shadow: 0 0 0 1px rgba(16,22,26,.2),0 1px 1px rgba(16,22,26,.2);
  box-shadow: 0 0 0 1px rgba(16,22,26,.2),0 1px 1px rgba(16,22,26,.2)
}

.pt-control.pt-switch:hover .pt-control-indicator {
  background-color: rgba(115,134,148,.5)
}

.pt-control.pt-checkbox .pt-control.pt-switch:hover input:indeterminate~.pt-control-indicator,.pt-control.pt-switch:hover .pt-control.pt-checkbox input:indeterminate~.pt-control-indicator,.pt-control.pt-switch:hover input:checked~.pt-control-indicator {
  background-color: $primary-hover-color
}

.pt-control.pt-switch input:not(:disabled):active~.pt-control-indicator {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: rgba(92,112,128,.5)
}

.pt-control.pt-checkbox .pt-control.pt-switch input:not(:disabled):active:indeterminate~.pt-control-indicator,.pt-control.pt-switch .pt-control.pt-checkbox input:not(:disabled):active:indeterminate~.pt-control-indicator,.pt-control.pt-switch input:not(:disabled):active:checked~.pt-control-indicator {
  background-color: $primary-active-color
}

.pt-control.pt-checkbox .pt-control.pt-switch input:not(:disabled):active:indeterminate~.pt-control-indicator:before,.pt-control.pt-switch .pt-control.pt-checkbox input:not(:disabled):active:indeterminate~.pt-control-indicator:before,.pt-control.pt-switch input:not(:disabled):active:checked~.pt-control-indicator:before {
  -webkit-box-shadow: 0 0 0 1px rgba(16,22,26,.2),0 1px 1px rgba(16,22,26,.2);
  box-shadow: 0 0 0 1px rgba(16,22,26,.2),0 1px 1px rgba(16,22,26,.2)
}

.pt-control.pt-switch input:disabled~.pt-control-indicator {
  background-color: rgba(206,217,224,.5)
}

.pt-control.pt-switch input:disabled~.pt-control-indicator:before {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: hsla(0,0%,100%,.8)
}

.pt-control.pt-checkbox .pt-control.pt-switch input:disabled:indeterminate~.pt-control-indicator,.pt-control.pt-switch .pt-control.pt-checkbox input:disabled:indeterminate~.pt-control-indicator,.pt-control.pt-switch input:disabled:checked~.pt-control-indicator {
  background-color: rgba(19,124,189,.5)
}

.pt-control.pt-align-right {
  padding-right: 26px;
  padding-left: 0
}

.pt-control.pt-align-right .pt-control-indicator {
  right: 0;
  left: auto
}

.pt-control.pt-large {
  min-height: 20px;
  padding-left: 30px;
  line-height: 20px;
  font-size: 16px
}

.pt-control.pt-large .pt-control-indicator {
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-family: Icons20;
  font-size: 20px
}

.pt-control.pt-large.pt-checkbox .pt-control.pt-checkbox:hover input:indeterminate~.pt-control-indicator:before,.pt-control.pt-large.pt-checkbox input:checked~.pt-control-indicator:before,.pt-control.pt-large.pt-checkbox input:indeterminate~.pt-control-indicator:before {
  top: 1px
}

.pt-control.pt-large.pt-radio .pt-control-indicator {
  font-size: 8px
}

.pt-control.pt-large.pt-switch {
  padding-left: 42px
}

.pt-control.pt-large.pt-switch .pt-control-indicator {
  width: 32px;
  height: 20px
}

.pt-control.pt-large.pt-switch .pt-control-indicator:before {
  width: 16px;
  height: 16px
}

.pt-control.pt-checkbox .pt-control.pt-large.pt-switch input:indeterminate~.pt-control-indicator,.pt-control.pt-large.pt-switch .pt-control.pt-checkbox input:indeterminate~.pt-control-indicator,.pt-control.pt-large.pt-switch input:checked~.pt-control-indicator {
  width: 32px;
  height: 20px
}

.pt-control.pt-checkbox .pt-control.pt-large.pt-switch input:indeterminate~.pt-control-indicator:before,.pt-control.pt-large.pt-switch .pt-control.pt-checkbox input:indeterminate~.pt-control-indicator:before,.pt-control.pt-large.pt-switch input:checked~.pt-control-indicator:before {
  left: 14px
}

.pt-dark .pt-control {
  color: #f5f8fa
}

.pt-dark .pt-control.pt-disabled {
  color: rgba(191,204,214,.5)
}

.pt-dark .pt-control .pt-control-indicator {
  -webkit-box-shadow: 0 0 0 1px rgba(16,22,26,.4);
  box-shadow: 0 0 0 1px rgba(16,22,26,.4);
  background-color: #394b59;
  background-image: -webkit-gradient(linear,left top,left bottom,from(hsla(0,0%,100%,.05)),to(hsla(0,0%,100%,0)));
  background-image: linear-gradient(180deg,hsla(0,0%,100%,.05),hsla(0,0%,100%,0))
}

.pt-dark .pt-control.pt-checkbox input:indeterminate~.pt-control-indicator,.pt-dark .pt-control input:checked~.pt-control-indicator {
  -webkit-box-shadow: 0 0 0 1px rgba(16,22,26,.4);
  box-shadow: 0 0 0 1px rgba(16,22,26,.4)
}

.pt-dark .pt-control:hover .pt-control-indicator {
  background-color: #30404d
}

.pt-dark .pt-control input:not(:disabled):active~.pt-control-indicator {
  -webkit-box-shadow: 0 0 0 1px rgba(16,22,26,.6),inset 0 1px 2px rgba(16,22,26,.2);
  box-shadow: 0 0 0 1px rgba(16,22,26,.6),inset 0 1px 2px rgba(16,22,26,.2);
  background: #202b33
}

.pt-dark .pt-control.pt-checkbox input:not(:disabled):active:indeterminate~.pt-control-indicator,.pt-dark .pt-control input:not(:disabled):active:checked~.pt-control-indicator {
  -webkit-box-shadow: 0 0 0 1px rgba(16,22,26,.4),inset 0 1px 2px rgba(16,22,26,.2);
  box-shadow: 0 0 0 1px rgba(16,22,26,.4),inset 0 1px 2px rgba(16,22,26,.2);
  background-color: $primary-active-color
}

.pt-dark .pt-control input:disabled~.pt-control-indicator {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: rgba(57,75,89,.5);
  cursor: not-allowed
}

.pt-dark .pt-control.pt-checkbox input:disabled:indeterminate~.pt-control-indicator,.pt-dark .pt-control input:disabled:checked~.pt-control-indicator {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: rgba(14,90,138,.5)
}

.pt-dark .pt-control.pt-checkbox input:checked:disabled~.pt-control-indicator:before,.pt-dark .pt-control.pt-checkbox input:disabled:indeterminate~.pt-control-indicator:before {
  color: rgba(191,204,214,.5)
}

.pt-control.pt-checkbox .pt-dark .pt-control.pt-radio input:disabled:indeterminate~.pt-control-indicator:before,.pt-dark .pt-control.pt-radio .pt-control.pt-checkbox input:disabled:indeterminate~.pt-control-indicator:before,.pt-dark .pt-control.pt-radio input:checked:disabled~.pt-control-indicator:before {
  background: rgba(191,204,214,.5)
}

.pt-dark .pt-control.pt-switch .pt-control-indicator {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: rgba(16,22,26,.5)
}

.pt-dark .pt-control.pt-switch .pt-control-indicator:before {
  -webkit-box-shadow: 0 0 0 1px rgba(16,22,26,.4);
  box-shadow: 0 0 0 1px rgba(16,22,26,.4);
  background: #30404d
}

.pt-control.pt-checkbox .pt-dark .pt-control.pt-switch input:indeterminate~.pt-control-indicator,.pt-dark .pt-control.pt-switch .pt-control.pt-checkbox input:indeterminate~.pt-control-indicator,.pt-dark .pt-control.pt-switch input:checked~.pt-control-indicator {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: $primary-color
}

.pt-control.pt-checkbox .pt-dark .pt-control.pt-switch input:indeterminate~.pt-control-indicator:before,.pt-dark .pt-control.pt-switch .pt-control.pt-checkbox input:indeterminate~.pt-control-indicator:before,.pt-dark .pt-control.pt-switch input:checked~.pt-control-indicator:before {
  -webkit-box-shadow: inset 0 0 0 1px rgba(16,22,26,.4);
  box-shadow: inset 0 0 0 1px rgba(16,22,26,.4)
}

.pt-dark .pt-control.pt-switch:hover .pt-control-indicator {
  background: rgba(16,22,26,.7)
}

.pt-control.pt-checkbox .pt-dark .pt-control.pt-switch:hover input:indeterminate~.pt-control-indicator,.pt-dark .pt-control.pt-switch:hover .pt-control.pt-checkbox input:indeterminate~.pt-control-indicator,.pt-dark .pt-control.pt-switch:hover input:checked~.pt-control-indicator {
  background: #2b95d6
}

.pt-dark .pt-control.pt-switch input:not(:disabled):active~.pt-control-indicator {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: rgba(16,22,26,.9)
}

.pt-dark .pt-control.pt-switch input:not(:disabled):active~.pt-control-indicator:before {
  -webkit-box-shadow: 0 0 0 1px rgba(16,22,26,.4);
  box-shadow: 0 0 0 1px rgba(16,22,26,.4)
}

.pt-control.pt-checkbox .pt-dark .pt-control.pt-switch input:not(:disabled):active:indeterminate~.pt-control-indicator,.pt-dark .pt-control.pt-switch .pt-control.pt-checkbox input:not(:disabled):active:indeterminate~.pt-control-indicator,.pt-dark .pt-control.pt-switch input:not(:disabled):active:checked~.pt-control-indicator {
  background: #48aff0
}

.pt-control.pt-checkbox .pt-dark .pt-control.pt-switch input:not(:disabled):active:indeterminate~.pt-control-indicator:before,.pt-dark .pt-control.pt-switch .pt-control.pt-checkbox input:not(:disabled):active:indeterminate~.pt-control-indicator:before,.pt-dark .pt-control.pt-switch input:not(:disabled):active:checked~.pt-control-indicator:before {
  -webkit-box-shadow: inset 0 0 0 1px rgba(16,22,26,.4);
  box-shadow: inset 0 0 0 1px rgba(16,22,26,.4)
}

.pt-dark .pt-control.pt-switch input:disabled~.pt-control-indicator {
  background: rgba(57,75,89,.5)
}

.pt-dark .pt-control.pt-switch input:disabled~.pt-control-indicator:before {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: rgba(16,22,26,.4)
}

.pt-control.pt-checkbox .pt-dark .pt-control.pt-switch input:disabled:indeterminate~.pt-control-indicator,.pt-dark .pt-control.pt-switch .pt-control.pt-checkbox input:disabled:indeterminate~.pt-control-indicator,.pt-dark .pt-control.pt-switch input:disabled:checked~.pt-control-indicator {
  background: rgba(14,90,138,.5)
}

.pt-form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 0 0 15px
}

.pt-form-group label.pt-label {
  margin-bottom: 5px
}

.pt-form-group .pt-control {
  margin-top: 5px
}

.pt-form-group .pt-form-helper-text {
  margin-top: 5px;
  color: #5c7080;
  font-size: 12px
}

.pt-form-group.pt-intent-primary .pt-form-helper-text {
  color: $primary-hover-color
}

.pt-form-group.pt-intent-success .pt-form-helper-text {
  color: #0d8050
}

.pt-form-group.pt-intent-warning .pt-form-helper-text {
  color: #bf7326
}

.pt-form-group.pt-intent-danger .pt-form-helper-text {
  color: #c23030
}

.pt-form-group.pt-inline {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline
}

.pt-form-group.pt-inline.pt-large label.pt-label {
  margin: 0 10px 0 0;
  line-height: 40px
}

.pt-form-group.pt-inline label.pt-label {
  margin: 0 10px 0 0;
  line-height: 30px
}

.pt-form-group.pt-disabled .pt-form-helper-text,.pt-form-group.pt-disabled .pt-label,.pt-form-group.pt-disabled .pt-text-muted {
  color: rgba(92,112,128,.5)!important
}

.pt-dark .pt-form-group.pt-intent-primary .pt-form-helper-text {
  color: #48aff0
}

.pt-dark .pt-form-group.pt-intent-success .pt-form-helper-text {
  color: #3dcc91
}

.pt-dark .pt-form-group.pt-intent-warning .pt-form-helper-text {
  color: #ffb366
}

.pt-dark .pt-form-group.pt-intent-danger .pt-form-helper-text {
  color: #ff7373
}

.pt-dark .pt-form-group .pt-form-helper-text {
  color: #bfccd6
}

.pt-dark .pt-form-group.pt-disabled .pt-form-helper-text,.pt-dark .pt-form-group.pt-disabled .pt-label,.pt-dark .pt-form-group.pt-disabled .pt-text-muted {
  color: rgba(191,204,214,.5)!important
}

.pt-input-group {
  display: block;
  position: relative
}

.pt-input-group .pt-input {
  position: relative;
  width: 100%
}

.pt-input-group .pt-input:not(:first-child) {
  padding-left: 30px
}

.pt-input-group .pt-input:not(:last-child) {
  padding-right: 30px
}

.pt-input-group .pt-input-action,.pt-input-group>.pt-button,.pt-input-group>.pt-icon {
  position: absolute;
  top: 0
}

.pt-input-group .pt-input-action:first-child,.pt-input-group>.pt-button:first-child,.pt-input-group>.pt-icon:first-child {
  left: 0
}

.pt-input-group .pt-input-action:last-child,.pt-input-group>.pt-button:last-child,.pt-input-group>.pt-icon:last-child {
  right: 0
}

.pt-input-group .pt-button {
  min-width: 24px;
  min-height: 24px;
  margin: 3px;
  padding: 0 7px
}

.pt-input-group .pt-button:empty {
  padding: 0
}

.pt-input-group>.pt-icon {
  line-height: 1;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  z-index: 1;
  margin: 9px;
  color: #5c7080
}

.pt-input-group .pt-input-action>.pt-spinner {
  margin: 3px
}

.pt-input-group .pt-tag {
  margin: 5px
}

.pt-input-group .pt-input:not(:focus)+.pt-button.pt-minimal:not(:hover):not(:focus),.pt-input-group .pt-input:not(:focus)+.pt-input-action .pt-button.pt-minimal:not(:hover):not(:focus) {
  color: #5c7080
}

.pt-dark .pt-input-group .pt-input:not(:focus)+.pt-button.pt-minimal:not(:hover):not(:focus),.pt-dark .pt-input-group .pt-input:not(:focus)+.pt-input-action .pt-button.pt-minimal:not(:hover):not(:focus) {
  color: #bfccd6
}

.pt-input-group .pt-input:not(:focus)+.pt-button.pt-minimal:not(:hover):not(:focus) .pt-icon,.pt-input-group .pt-input:not(:focus)+.pt-button.pt-minimal:not(:hover):not(:focus) .pt-icon-large,.pt-input-group .pt-input:not(:focus)+.pt-button.pt-minimal:not(:hover):not(:focus) .pt-icon-standard,.pt-input-group .pt-input:not(:focus)+.pt-input-action .pt-button.pt-minimal:not(:hover):not(:focus) .pt-icon,.pt-input-group .pt-input:not(:focus)+.pt-input-action .pt-button.pt-minimal:not(:hover):not(:focus) .pt-icon-large,.pt-input-group .pt-input:not(:focus)+.pt-input-action .pt-button.pt-minimal:not(:hover):not(:focus) .pt-icon-standard {
  color: #5c7080
}

.pt-input-group .pt-input:not(:focus)+.pt-button.pt-minimal:disabled,.pt-input-group .pt-input:not(:focus)+.pt-button.pt-minimal:disabled .pt-icon,.pt-input-group .pt-input:not(:focus)+.pt-button.pt-minimal:disabled .pt-icon-large,.pt-input-group .pt-input:not(:focus)+.pt-button.pt-minimal:disabled .pt-icon-standard,.pt-input-group .pt-input:not(:focus)+.pt-input-action .pt-button.pt-minimal:disabled,.pt-input-group .pt-input:not(:focus)+.pt-input-action .pt-button.pt-minimal:disabled .pt-icon,.pt-input-group .pt-input:not(:focus)+.pt-input-action .pt-button.pt-minimal:disabled .pt-icon-large,.pt-input-group .pt-input:not(:focus)+.pt-input-action .pt-button.pt-minimal:disabled .pt-icon-standard {
  color: rgba(92,112,128,.5)!important
}

.pt-input-group.pt-disabled {
  cursor: not-allowed
}

.pt-input-group.pt-disabled .pt-icon {
  color: rgba(92,112,128,.5)
}

.pt-input-group.pt-large .pt-button {
  min-width: 30px;
  min-height: 30px;
  margin: 5px
}

.pt-input-group.pt-large>.pt-icon {
  margin: 12px
}

.pt-input-group.pt-large .pt-input {
  height: 40px;
  line-height: 40px;
  font-size: 16px
}

.pt-input-group.pt-large .pt-input.pt-round,.pt-input-group.pt-large .pt-input[type=search] {
  padding: 0 15px
}

.pt-input-group.pt-large .pt-input:not(:first-child) {
  padding-left: 40px
}

.pt-input-group.pt-large .pt-input:not(:last-child) {
  padding-right: 40px
}

.pt-input-group.pt-large .pt-input-action>.pt-spinner {
  margin: 8px
}

.pt-input-group.pt-fill {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 100%
}

.pt-input-group.pt-round .pt-button,.pt-input-group.pt-round .pt-input,.pt-input-group.pt-round .pt-tag {
  border-radius: 30px
}

.pt-dark .pt-input-group .pt-icon {
  color: #bfccd6
}

.pt-dark .pt-input-group.pt-disabled .pt-icon {
  color: rgba(191,204,214,.5)
}

.pt-input {
  outline: none;
  border: none;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 0 0 rgba(19,124,189,0),0 0 0 0 rgba(19,124,189,0),inset 0 0 0 1px rgba(16,22,26,.15),inset 0 1px 1px rgba(16,22,26,.2);
  box-shadow: 0 0 0 0 rgba(19,124,189,0),0 0 0 0 rgba(19,124,189,0),inset 0 0 0 1px rgba(16,22,26,.15),inset 0 1px 1px rgba(16,22,26,.2);
  background: #fff;
  height: 30px;
  padding: 0 10px;
  vertical-align: middle;
  line-height: 30px;
  color: #182026;
  font-size: 14px;
  font-weight: 400;
  -webkit-transition: -webkit-box-shadow .1s cubic-bezier(.4,1,.75,.9);
  transition: -webkit-box-shadow .1s cubic-bezier(.4,1,.75,.9);
  transition: box-shadow .1s cubic-bezier(.4,1,.75,.9);
  transition: box-shadow .1s cubic-bezier(.4,1,.75,.9),-webkit-box-shadow .1s cubic-bezier(.4,1,.75,.9);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none
}

.pt-input::-webkit-input-placeholder {
  opacity: 1;
  color: rgba(92,112,128,.5)
}

.pt-input:-ms-input-placeholder,.pt-input::-ms-input-placeholder {
  opacity: 1;
  color: rgba(92,112,128,.5)
}

.pt-input::placeholder {
  opacity: 1;
  color: rgba(92,112,128,.5)
}

.pt-input.pt-active,.pt-input:focus {
  -webkit-box-shadow: 0 0 0 1px $primary-color,0 0 0 3px $primary-translucent-color,inset 0 1px 1px rgba(16,22,26,.2);
  box-shadow: 0 0 0 1px $primary-color,0 0 0 3px $primary-translucent-color,inset 0 1px 1px rgba(16,22,26,.2)
}

.pt-input.pt-round,.pt-input[type=search] {
  border-radius: 30px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 10px
}

.pt-input[readonly] {
  -webkit-box-shadow: inset 0 0 0 1px rgba(16,22,26,.15);
  box-shadow: inset 0 0 0 1px rgba(16,22,26,.15)
}

.pt-input.pt-disabled,.pt-input:disabled {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: rgba(206,217,224,.5);
  cursor: not-allowed;
  color: rgba(92,112,128,.5);
  resize: none
}

.pt-input.pt-large {
  height: 40px;
  line-height: 40px;
  font-size: 16px
}

.pt-input.pt-large.pt-round,.pt-input.pt-large[type=search] {
  padding: 0 15px
}

.pt-input.pt-fill {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 100%
}

.pt-dark .pt-input {
  -webkit-box-shadow: 0 0 0 0 rgba(19,124,189,0),0 0 0 0 rgba(19,124,189,0),0 0 0 0 rgba(19,124,189,0),inset 0 0 0 1px rgba(16,22,26,.3),inset 0 1px 1px rgba(16,22,26,.4);
  box-shadow: 0 0 0 0 rgba(19,124,189,0),0 0 0 0 rgba(19,124,189,0),0 0 0 0 rgba(19,124,189,0),inset 0 0 0 1px rgba(16,22,26,.3),inset 0 1px 1px rgba(16,22,26,.4);
  background: rgba(16,22,26,.3);
  color: #f5f8fa
}

.pt-dark .pt-input::-webkit-input-placeholder {
  color: rgba(191,204,214,.5)
}

.pt-dark .pt-input:-ms-input-placeholder,.pt-dark .pt-input::-ms-input-placeholder {
  color: rgba(191,204,214,.5)
}

.pt-dark .pt-input::placeholder {
  color: rgba(191,204,214,.5)
}

.pt-dark .pt-input:focus {
  -webkit-box-shadow: 0 0 0 1px $primary-color,0 0 0 1px $primary-color,0 0 0 3px $primary-translucent-color,inset 0 0 0 1px rgba(16,22,26,.3),inset 0 1px 1px rgba(16,22,26,.4);
  box-shadow: 0 0 0 1px $primary-color,0 0 0 1px $primary-color,0 0 0 3px $primary-translucent-color,inset 0 0 0 1px rgba(16,22,26,.3),inset 0 1px 1px rgba(16,22,26,.4)
}

.pt-dark .pt-input[readonly] {
  -webkit-box-shadow: inset 0 0 0 1px rgba(16,22,26,.4);
  box-shadow: inset 0 0 0 1px rgba(16,22,26,.4)
}

.pt-dark .pt-input.pt-disabled,.pt-dark .pt-input:disabled {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: rgba(57,75,89,.5);
  color: rgba(191,204,214,.5)
}

label.pt-label {
  display: block;
  margin: 0 0 15px;
  font-size: 14px;
}

label.pt-label .pt-text-muted {
  padding-left: 6px;
}

label.pt-label .pt-input,label.pt-label .pt-popover-wrapper,label.pt-label .pt-select {
  display: block;
  margin-top: 5px;
  text-transform: none
}

label.pt-label .pt-select select {
  width: 100%;
  vertical-align: top;
  font-weight: 400
}

label.pt-label.pt-inline {
  line-height: 30px
}

label.pt-label.pt-inline .pt-input,label.pt-label.pt-inline .pt-input-group,label.pt-label.pt-inline .pt-popover-wrapper,label.pt-label.pt-inline .pt-select {
  display: inline-block;
  margin: 0 0 0 5px;
  vertical-align: top
}

label.pt-label.pt-inline .pt-input-group .pt-input {
  margin-left: 0
}

label.pt-label.pt-inline.pt-large {
  line-height: 40px
}

label.pt-label:not(.pt-inline) .pt-popover-target {
  display: block
}

label.pt-label.pt-disabled,label.pt-label.pt-disabled .pt-text-muted {
  color: rgba(92,112,128,.5)
}

.pt-dark label.pt-label {
  color: #f5f8fa
}

.pt-dark label.pt-label.pt-disabled,.pt-dark label.pt-label.pt-disabled .pt-text-muted {
  color: rgba(191,204,214,.5)
}

.pt-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  padding: 5px 10px;
  text-align: left;
  font-size: 14px;
  min-width: 30px;
  min-height: 30px
}

.pt-button>* {
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0
}

.pt-button>.pt-fill {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1
}

.pt-button:before,.pt-button>* {
  margin-right: 7px
}

.pt-button:empty:before,.pt-button>:last-child {
  margin-right: 0
}

.pt-button:empty {
  padding: 0
}

.pt-button.pt-disabled,.pt-button:disabled {
  cursor: not-allowed
}

.pt-button.pt-fill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%
}

.pt-align-right .pt-button,.pt-button.pt-align-right {
  text-align: right
}

.pt-button:not([class*=pt-intent-]) {
  background-color: #f5f8fa;
  background-image: -webkit-gradient(linear,left top,left bottom,from(hsla(0,0%,100%,.8)),to(hsla(0,0%,100%,0)));
  background-image: linear-gradient(180deg,hsla(0,0%,100%,.8),hsla(0,0%,100%,0));
  color: #182026
}

.pt-button:not([class*=pt-intent-]),.pt-button:not([class*=pt-intent-]):hover {
  -webkit-box-shadow: inset 0 0 0 1px rgba(16,22,26,.2),inset 0 -1px 0 rgba(16,22,26,.1);
  box-shadow: inset 0 0 0 1px rgba(16,22,26,.2),inset 0 -1px 0 rgba(16,22,26,.1)
}

.pt-button:not([class*=pt-intent-]):hover {
  background-clip: padding-box;
  background-color: #ebf1f5
}

.pt-button:not([class*=pt-intent-]).pt-active,.pt-button:not([class*=pt-intent-]):active {
  -webkit-box-shadow: inset 0 0 0 1px rgba(16,22,26,.2),inset 0 1px 2px rgba(16,22,26,.2);
  box-shadow: inset 0 0 0 1px rgba(16,22,26,.2),inset 0 1px 2px rgba(16,22,26,.2);
  background-color: #d8e1e8;
  background-image: none
}

.pt-button:not([class*=pt-intent-]).pt-disabled,.pt-button:not([class*=pt-intent-]):disabled {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: rgba(206,217,224,.5);
  background-image: none;
  cursor: not-allowed;
  color: rgba(92,112,128,.5)
}

.pt-button:not([class*=pt-intent-]).pt-disabled.pt-active,.pt-button:not([class*=pt-intent-]).pt-disabled.pt-active:hover,.pt-button:not([class*=pt-intent-]):disabled.pt-active,.pt-button:not([class*=pt-intent-]):disabled.pt-active:hover {
  background: rgba(206,217,224,.7)
}

.pt-button.pt-intent-primary {
  -webkit-box-shadow: inset 0 0 0 1px rgba(16,22,26,.4),inset 0 -1px 0 rgba(16,22,26,.2);
  box-shadow: inset 0 0 0 1px rgba(16,22,26,.4),inset 0 -1px 0 rgba(16,22,26,.2);
  background-color: $primary-color;
  background-image: -webkit-gradient(linear,left top,left bottom,from(hsla(0,0%,100%,.1)),to(hsla(0,0%,100%,0)));
  background-image: linear-gradient(180deg,hsla(0,0%,100%,.1),hsla(0,0%,100%,0));
  color: #fff
}

.pt-button.pt-intent-primary.pt-active,.pt-button.pt-intent-primary:active,.pt-button.pt-intent-primary:hover {
  color: #fff
}

.pt-button.pt-intent-primary:hover {
  -webkit-box-shadow: inset 0 0 0 1px rgba(16,22,26,.4),inset 0 -1px 0 rgba(16,22,26,.2);
  box-shadow: inset 0 0 0 1px rgba(16,22,26,.4),inset 0 -1px 0 rgba(16,22,26,.2);
  background-color: $primary-hover-color
}

.pt-button.pt-intent-primary.pt-active,.pt-button.pt-intent-primary:active {
  -webkit-box-shadow: inset 0 0 0 1px rgba(16,22,26,.4),inset 0 1px 2px rgba(16,22,26,.2);
  box-shadow: inset 0 0 0 1px rgba(16,22,26,.4),inset 0 1px 2px rgba(16,22,26,.2);
  background-color: $primary-active-color;
  background-image: none
}

.pt-button.pt-intent-primary.pt-disabled,.pt-button.pt-intent-primary:disabled {
  border-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: rgba(19,124,189,.5);
  background-image: none;
  color: hsla(0,0%,100%,.6)
}

.pt-button.pt-intent-success {
  -webkit-box-shadow: inset 0 0 0 1px rgba(16,22,26,.4),inset 0 -1px 0 rgba(16,22,26,.2);
  box-shadow: inset 0 0 0 1px rgba(16,22,26,.4),inset 0 -1px 0 rgba(16,22,26,.2);
  background-color: #0f9960;
  background-image: -webkit-gradient(linear,left top,left bottom,from(hsla(0,0%,100%,.1)),to(hsla(0,0%,100%,0)));
  background-image: linear-gradient(180deg,hsla(0,0%,100%,.1),hsla(0,0%,100%,0));
  color: #fff
}

.pt-button.pt-intent-success.pt-active,.pt-button.pt-intent-success:active,.pt-button.pt-intent-success:hover {
  color: #fff
}

.pt-button.pt-intent-success:hover {
  -webkit-box-shadow: inset 0 0 0 1px rgba(16,22,26,.4),inset 0 -1px 0 rgba(16,22,26,.2);
  box-shadow: inset 0 0 0 1px rgba(16,22,26,.4),inset 0 -1px 0 rgba(16,22,26,.2);
  background-color: #0d8050
}

.pt-button.pt-intent-success.pt-active,.pt-button.pt-intent-success:active {
  -webkit-box-shadow: inset 0 0 0 1px rgba(16,22,26,.4),inset 0 1px 2px rgba(16,22,26,.2);
  box-shadow: inset 0 0 0 1px rgba(16,22,26,.4),inset 0 1px 2px rgba(16,22,26,.2);
  background-color: #0a6640;
  background-image: none
}

.pt-button.pt-intent-success.pt-disabled,.pt-button.pt-intent-success:disabled {
  border-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: rgba(15,153,96,.5);
  background-image: none;
  color: hsla(0,0%,100%,.6)
}

.pt-button.pt-intent-warning {
  -webkit-box-shadow: inset 0 0 0 1px rgba(16,22,26,.4),inset 0 -1px 0 rgba(16,22,26,.2);
  box-shadow: inset 0 0 0 1px rgba(16,22,26,.4),inset 0 -1px 0 rgba(16,22,26,.2);
  background-color: #d9822b;
  background-image: -webkit-gradient(linear,left top,left bottom,from(hsla(0,0%,100%,.1)),to(hsla(0,0%,100%,0)));
  background-image: linear-gradient(180deg,hsla(0,0%,100%,.1),hsla(0,0%,100%,0));
  color: #fff
}

.pt-button.pt-intent-warning.pt-active,.pt-button.pt-intent-warning:active,.pt-button.pt-intent-warning:hover {
  color: #fff
}

.pt-button.pt-intent-warning:hover {
  -webkit-box-shadow: inset 0 0 0 1px rgba(16,22,26,.4),inset 0 -1px 0 rgba(16,22,26,.2);
  box-shadow: inset 0 0 0 1px rgba(16,22,26,.4),inset 0 -1px 0 rgba(16,22,26,.2);
  background-color: #bf7326
}

.pt-button.pt-intent-warning.pt-active,.pt-button.pt-intent-warning:active {
  -webkit-box-shadow: inset 0 0 0 1px rgba(16,22,26,.4),inset 0 1px 2px rgba(16,22,26,.2);
  box-shadow: inset 0 0 0 1px rgba(16,22,26,.4),inset 0 1px 2px rgba(16,22,26,.2);
  background-color: #a66321;
  background-image: none
}

.pt-button.pt-intent-warning.pt-disabled,.pt-button.pt-intent-warning:disabled {
  border-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: rgba(217,130,43,.5);
  background-image: none;
  color: hsla(0,0%,100%,.6)
}

.pt-button.pt-intent-danger {
  -webkit-box-shadow: inset 0 0 0 1px rgba(16,22,26,.4),inset 0 -1px 0 rgba(16,22,26,.2);
  box-shadow: inset 0 0 0 1px rgba(16,22,26,.4),inset 0 -1px 0 rgba(16,22,26,.2);
  background-color: #db3737;
  background-image: -webkit-gradient(linear,left top,left bottom,from(hsla(0,0%,100%,.1)),to(hsla(0,0%,100%,0)));
  background-image: linear-gradient(180deg,hsla(0,0%,100%,.1),hsla(0,0%,100%,0));
  color: #fff
}

.pt-button.pt-intent-danger.pt-active,.pt-button.pt-intent-danger:active,.pt-button.pt-intent-danger:hover {
  color: #fff
}

.pt-button.pt-intent-danger:hover {
  -webkit-box-shadow: inset 0 0 0 1px rgba(16,22,26,.4),inset 0 -1px 0 rgba(16,22,26,.2);
  box-shadow: inset 0 0 0 1px rgba(16,22,26,.4),inset 0 -1px 0 rgba(16,22,26,.2);
  background-color: #c23030
}

.pt-button.pt-intent-danger.pt-active,.pt-button.pt-intent-danger:active {
  -webkit-box-shadow: inset 0 0 0 1px rgba(16,22,26,.4),inset 0 1px 2px rgba(16,22,26,.2);
  box-shadow: inset 0 0 0 1px rgba(16,22,26,.4),inset 0 1px 2px rgba(16,22,26,.2);
  background-color: #a82a2a;
  background-image: none
}

.pt-button.pt-intent-danger.pt-disabled,.pt-button.pt-intent-danger:disabled {
  border-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: rgba(219,55,55,.5);
  background-image: none;
  color: hsla(0,0%,100%,.6)
}

.pt-button[class*=pt-intent-] .pt-button-spinner .pt-spinner-head {
  stroke: #fff
}

.pt-button.pt-loading {
  position: relative
}

.pt-button.pt-loading[class*=pt-icon-]:before {
  visibility: hidden
}

.pt-button.pt-loading .pt-button-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%)
}

.pt-button.pt-loading>:not(.pt-button-spinner) {
  visibility: hidden
}

.pt-button[class*=pt-icon-]:before {
  line-height: 1;
  font-family: Icons16,sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #5c7080
}

.pt-button .pt-icon,.pt-button .pt-icon-large,.pt-button .pt-icon-standard {
  color: #5c7080
}

.pt-button .pt-icon-large.pt-align-right,.pt-button .pt-icon-standard.pt-align-right,.pt-button .pt-icon.pt-align-right {
  margin-left: 7px
}

.pt-button .pt-icon:first-child:last-child,.pt-button .pt-spinner+.pt-icon:last-child {
  margin: 0 -7px
}

.pt-dark .pt-button:not([class*=pt-intent-]) {
  -webkit-box-shadow: 0 0 0 1px rgba(16,22,26,.4);
  box-shadow: 0 0 0 1px rgba(16,22,26,.4);
  background-color: #394b59;
  background-image: -webkit-gradient(linear,left top,left bottom,from(hsla(0,0%,100%,.05)),to(hsla(0,0%,100%,0)));
  background-image: linear-gradient(180deg,hsla(0,0%,100%,.05),hsla(0,0%,100%,0));
  color: #f5f8fa
}

.pt-dark .pt-button:not([class*=pt-intent-]).pt-active,.pt-dark .pt-button:not([class*=pt-intent-]):active,.pt-dark .pt-button:not([class*=pt-intent-]):hover {
  color: #f5f8fa
}

.pt-dark .pt-button:not([class*=pt-intent-]):hover {
  -webkit-box-shadow: 0 0 0 1px rgba(16,22,26,.4);
  box-shadow: 0 0 0 1px rgba(16,22,26,.4);
  background-color: #30404d
}

.pt-dark .pt-button:not([class*=pt-intent-]).pt-active,.pt-dark .pt-button:not([class*=pt-intent-]):active {
  -webkit-box-shadow: 0 0 0 1px rgba(16,22,26,.6),inset 0 1px 2px rgba(16,22,26,.2);
  box-shadow: 0 0 0 1px rgba(16,22,26,.6),inset 0 1px 2px rgba(16,22,26,.2);
  background-color: #202b33;
  background-image: none
}

.pt-dark .pt-button:not([class*=pt-intent-]).pt-disabled,.pt-dark .pt-button:not([class*=pt-intent-]):disabled {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-color: rgba(57,75,89,.5);
  background-image: none;
  color: rgba(191,204,214,.5)
}

.pt-dark .pt-button:not([class*=pt-intent-]).pt-disabled.pt-active,.pt-dark .pt-button:not([class*=pt-intent-]):disabled.pt-active {
  background: rgba(57,75,89,.7)
}

.pt-dark .pt-button:not([class*=pt-intent-]) .pt-button-spinner .pt-spinner-head {
  background: rgba(16,22,26,.5);
  stroke: #8a9ba8
}

.pt-dark .pt-button:not([class*=pt-intent-]) .pt-icon,.pt-dark .pt-button:not([class*=pt-intent-]) .pt-icon-large,.pt-dark .pt-button:not([class*=pt-intent-]) .pt-icon-standard,.pt-dark .pt-button:not([class*=pt-intent-])[class*=pt-icon-]:before {
  color: #bfccd6
}

.pt-dark .pt-button[class*=pt-intent-],.pt-dark .pt-button[class*=pt-intent-]:hover {
  -webkit-box-shadow: 0 0 0 1px rgba(16,22,26,.4);
  box-shadow: 0 0 0 1px rgba(16,22,26,.4)
}

.pt-dark .pt-button[class*=pt-intent-].pt-active,.pt-dark .pt-button[class*=pt-intent-]:active {
  -webkit-box-shadow: 0 0 0 1px rgba(16,22,26,.4),inset 0 1px 2px rgba(16,22,26,.2);
  box-shadow: 0 0 0 1px rgba(16,22,26,.4),inset 0 1px 2px rgba(16,22,26,.2)
}

.pt-dark .pt-button[class*=pt-intent-].pt-disabled,.pt-dark .pt-button[class*=pt-intent-]:disabled {
  -webkit-box-shadow: none;
  box-shadow: none;
  background-image: none;
  color: hsla(0,0%,100%,.3)
}

.pt-dark .pt-button[class*=pt-intent-] .pt-button-spinner .pt-spinner-head {
  stroke: #8a9ba8
}

.pt-button.pt-disabled .pt-icon,.pt-button.pt-disabled .pt-icon-large,.pt-button.pt-disabled .pt-icon-standard,.pt-button.pt-disabled:before,.pt-button:disabled .pt-icon,.pt-button:disabled .pt-icon-large,.pt-button:disabled .pt-icon-standard,.pt-button:disabled:before,.pt-button[class*=pt-intent-] .pt-icon,.pt-button[class*=pt-intent-] .pt-icon-large,.pt-button[class*=pt-intent-] .pt-icon-standard,.pt-button[class*=pt-intent-]:before {
  color: inherit!important
}

.pt-button.pt-minimal {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: none
}

.pt-button.pt-minimal:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: rgba(167,182,194,.3);
  text-decoration: none;
  color: #182026
}

.pt-button.pt-minimal.pt-active,.pt-button.pt-minimal:active {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: rgba(115,134,148,.3);
  color: #182026
}

.pt-button.pt-minimal.pt-disabled,.pt-button.pt-minimal.pt-disabled:hover,.pt-button.pt-minimal:disabled,.pt-button.pt-minimal:disabled:hover {
  background: none;
  cursor: not-allowed;
  color: rgba(92,112,128,.5)
}

.pt-button.pt-minimal.pt-disabled.pt-active,.pt-button.pt-minimal.pt-disabled:hover.pt-active,.pt-button.pt-minimal:disabled.pt-active,.pt-button.pt-minimal:disabled:hover.pt-active {
  background: rgba(115,134,148,.3)
}

.pt-dark .pt-button.pt-minimal {
  color: inherit
}

.pt-dark .pt-button.pt-minimal,.pt-dark .pt-button.pt-minimal.pt-active,.pt-dark .pt-button.pt-minimal:active,.pt-dark .pt-button.pt-minimal:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: none
}

.pt-dark .pt-button.pt-minimal:hover {
  background: rgba(138,155,168,.15)
}

.pt-dark .pt-button.pt-minimal.pt-active,.pt-dark .pt-button.pt-minimal:active {
  background: rgba(138,155,168,.3);
  color: #f5f8fa
}

.pt-dark .pt-button.pt-minimal.pt-disabled,.pt-dark .pt-button.pt-minimal.pt-disabled:hover,.pt-dark .pt-button.pt-minimal:disabled,.pt-dark .pt-button.pt-minimal:disabled:hover {
  background: none;
  cursor: not-allowed;
  color: rgba(191,204,214,.5)
}

.pt-dark .pt-button.pt-minimal.pt-disabled.pt-active,.pt-dark .pt-button.pt-minimal.pt-disabled:hover.pt-active,.pt-dark .pt-button.pt-minimal:disabled.pt-active,.pt-dark .pt-button.pt-minimal:disabled:hover.pt-active {
  background: rgba(138,155,168,.3)
}

.pt-button-group {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex
}

.pt-button-group .pt-button {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  position: relative;
  z-index: 4
}

.pt-button-group .pt-button:focus {
  z-index: 5
}

.pt-button-group .pt-button:hover {
  z-index: 6
}

.pt-button-group .pt-button.pt-active,.pt-button-group .pt-button:active {
  z-index: 7
}

.pt-button-group .pt-button.pt-disabled,.pt-button-group .pt-button:disabled {
  z-index: 3
}

.pt-button-group .pt-button[class*=pt-intent-] {
  z-index: 9
}

.pt-button-group .pt-button[class*=pt-intent-]:focus {
  z-index: 10
}

.pt-button-group .pt-button[class*=pt-intent-]:hover {
  z-index: 11
}

.pt-button-group .pt-button[class*=pt-intent-].pt-active,.pt-button-group .pt-button[class*=pt-intent-]:active {
  z-index: 12
}

.pt-button-group .pt-button[class*=pt-intent-].pt-disabled,.pt-button-group .pt-button[class*=pt-intent-]:disabled {
  z-index: 8
}

.pt-button-group:not(.pt-minimal)>.pt-button:not(:first-child),.pt-button-group:not(.pt-minimal)>.pt-popover-wrapper:not(:first-child) .pt-popover-target .pt-button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0
}

.pt-button-group:not(.pt-minimal)>.pt-button:not(:last-child),.pt-button-group:not(.pt-minimal)>.pt-popover-wrapper:not(:last-child) .pt-popover-target .pt-button {
  margin-right: -1px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0
}

.pt-button-group.pt-minimal .pt-button {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: none
}

.pt-button-group.pt-minimal .pt-button:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: rgba(167,182,194,.3);
  text-decoration: none;
  color: #182026
}

.pt-button-group.pt-minimal .pt-button.pt-active,.pt-button-group.pt-minimal .pt-button:active {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: rgba(115,134,148,.3);
  color: #182026
}

.pt-button-group.pt-minimal .pt-button.pt-disabled,.pt-button-group.pt-minimal .pt-button.pt-disabled:hover,.pt-button-group.pt-minimal .pt-button:disabled,.pt-button-group.pt-minimal .pt-button:disabled:hover {
  background: none;
  cursor: not-allowed;
  color: rgba(92,112,128,.5)
}

.pt-button-group.pt-minimal .pt-button.pt-disabled.pt-active,.pt-button-group.pt-minimal .pt-button.pt-disabled:hover.pt-active,.pt-button-group.pt-minimal .pt-button:disabled.pt-active,.pt-button-group.pt-minimal .pt-button:disabled:hover.pt-active {
  background: rgba(115,134,148,.3)
}

.pt-dark .pt-button-group.pt-minimal .pt-button {
  color: inherit
}

.pt-dark .pt-button-group.pt-minimal .pt-button,.pt-dark .pt-button-group.pt-minimal .pt-button.pt-active,.pt-dark .pt-button-group.pt-minimal .pt-button:active,.pt-dark .pt-button-group.pt-minimal .pt-button:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: none
}

.pt-dark .pt-button-group.pt-minimal .pt-button:hover {
  background: rgba(138,155,168,.15)
}

.pt-dark .pt-button-group.pt-minimal .pt-button.pt-active,.pt-dark .pt-button-group.pt-minimal .pt-button:active {
  background: rgba(138,155,168,.3);
  color: #f5f8fa
}

.pt-dark .pt-button-group.pt-minimal .pt-button.pt-disabled,.pt-dark .pt-button-group.pt-minimal .pt-button.pt-disabled:hover,.pt-dark .pt-button-group.pt-minimal .pt-button:disabled,.pt-dark .pt-button-group.pt-minimal .pt-button:disabled:hover {
  background: none;
  cursor: not-allowed;
  color: rgba(191,204,214,.5)
}

.pt-dark .pt-button-group.pt-minimal .pt-button.pt-disabled.pt-active,.pt-dark .pt-button-group.pt-minimal .pt-button.pt-disabled:hover.pt-active,.pt-dark .pt-button-group.pt-minimal .pt-button:disabled.pt-active,.pt-dark .pt-button-group.pt-minimal .pt-button:disabled:hover.pt-active {
  background: rgba(138,155,168,.3)
}

.pt-button.pt-large,.pt-large .pt-button {
  min-width: 40px;
  min-height: 40px;
  padding: 5px 15px;
  font-size: 16px
}

.pt-button.pt-large:before,.pt-button.pt-large>*,.pt-large .pt-button:before,.pt-large .pt-button>* {
  margin-right: 10px
}

.pt-button.pt-large:empty:before,.pt-button.pt-large>:last-child,.pt-large .pt-button:empty:before,.pt-large .pt-button>:last-child {
  margin-right: 0
}

.pt-button.pt-small,.pt-small .pt-button {
  min-width: 24px;
  min-height: 24px;
  padding: 0 7px
}

a.pt-button {
  text-align: center;
  text-decoration: none;
  -webkit-transition: none;
  transition: none
}

a.pt-button,a.pt-button:active,a.pt-button:hover {
  color: #182026
}

a.pt-button.pt-disabled {
  color: rgba(92,112,128,.5)
}

.pt-label.pt-fill .pt-input {
  width: 100%;
  margin-left: 0 !important;
}

.pt-text-small {
  font-size: 0.85rem;
}
