.tabs {
  display: block;
}

.tab {
  display: block;
  float: left;
  padding: 0 24px 0 12px;
  line-height: 30px;
  cursor: pointer;
  font-size: 13px;
  position: relative;
  min-width: 100px;
  max-width: 200px;
  overflow: hidden;

  &:hover {
    background-color: #c7d1d6;
  }
}

.tabText {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.tabIcon {
  display: block;
  float: left;
  font-size: 12px;
  margin-right: 5px;
  opacity: 0.5;
  margin-top: 1px;
  margin-bottom: -1px;

  i {
    font-size: inherit;
  }
}

.tabActive {
  @extend .tab;

  background-color: #e1e8ed !important;

  .close {
    opacity: 1;
  }
}

.close {
  font-size: 8px;
  position: absolute;
  right: 6px;
  top: 7px;
  padding: 2px;
  line-height: 14px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  text-align: center;

  &:hover {
    background-color: #a5b1b6;
  }

  i {
    font-size: inherit;
    line-height: inherit;
  }
}

:global(.pt-dark) {
  .tabActive {
    background-color: #202a33 !important;
  }

  .tab {
    &:hover {
      background-color: #1d2125;
    }
  }

  .close {
    &:hover {
      background-color: #374552;
    }
  }
}
