.container {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(16, 22, 26, 0.05), 0 8px 24px rgba(16, 22, 26, 0.02);
  border-radius: 8px;
}

.header {
  border-bottom: 1px solid #e7edf2;
  padding: 20px;
}

.main {
  display: block;
  padding: 20px;
}
