@import '../../assets/scss/variables.scss';

.container {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(16, 22, 26, 0.05), 0 8px 24px rgba(16, 22, 26, 0.02);
  border-radius: 8px;
  margin-bottom: 20px;
}

.header {
  padding: 20px;
  cursor: pointer;
  position: relative;

  &:hover {
    background-color: #fbfdff;
    border-radius: inherit;

    .toggle {
      color: $primary-color;
    }
  }
}

.toggle {
  display: block;
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -6px;
  z-index: 2;
  font-size: 16px;
  color: #ccc;
}

.main {
  display: block;
  padding: 20px;
  border-top: 1px solid #e7edf2;
}

.icon {
  display: block;
  width: 44px;
  height: 44px;
  text-align: center;
  color: #fff;
  position: relative;
  float: left;

  i {
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    margin-left: -9px;
    margin-top: -8px;
    display: block;
    font-size: 20px;
  }

  svg {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
  }
}

.description {
  margin-left: 64px;
  padding-top: 3px;
  padding-bottom: 3px;
  
  > strong {
    display: block;
    margin-bottom: 3px;
  }

  > p {
    margin-bottom: 0;
    color: #aaa;
    font-size: 14px;
  }
}

// Dark theme
:global(.pt-dark) {
  .container {
    background-color: #30404d;
  }

  .header:hover {
    background-color: #374754;
  }

  .main {
    border-color: #293742;
  }
}
