.container {
  position: absolute;
  left: 50%;
  width: 500px;
  height: 90%;
  margin-left: -250px;
  background-color: #fff;
  box-shadow: 0 0 0 1px rgba(16, 22, 26, 0.02), 0 2px 4px rgba(16, 22, 26, 0.02), 0 8px 24px rgba(16, 22, 26, 0.08);

  iframe {
    display: block;
    width: 100%;
    border: 0;
    height: 100%;
  }
}